body {
	background-color: #eaeaea;
}
.toggle-bg{
	border-radius: 30px;
	background: #222;
	display: block;
	float: left;
	height: 30px;
	width: 70px;
	position: relative;
}
.toggle-bg input{
	height: 30px;
	top: 0;
	width: 70px;
	left: 0;
	margin: 0;
	opacity: 0;
	padding: 0;
	position: absolute;
	z-index: 2;
}
.switch{
	background: #ccc;
	display: block;
	float: left;
	height: 30px;
	top: 0;
	width: 30px;
	left: -1px;
	position: relative;
	z-index: 1;
	border-radius: 30px;
	transition: left .2s ease;
}
.toggle-bg input:checked~.switch{ left: -1px; }
.toggle-bg input~:checked~.switch{ left: 41px; }
.toggle-bg input:checked{ z-index: 0; }
.item-content,
.item-bottominfo {
	padding: 10px;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:visited {
	color: #FFFFFF;
}
.navbar-header {
	width: 100%;
}
.navbar-right > li {
	display: inline-block;
	vertical-align: middle;
}
.navbar-right {
	line-height: 51px;
	margin: 0;
}
.item-content img {
	width: 100%;
	margin-bottom: 10px;
}
.pull-right .thumbnail {
	padding: 0;
	border: 2px solid #ddd;
}
.container-fluid .thumbnail {
	border-radius: 0;
	padding: 0;
}
.container-fluid .thumbnail:hover {
	background-color: #ffffc3;
	box-shadow: 4px 4px 6px rgba(0,0,0,0.2);
}
a.thumbnail:hover,
a.thumbnail:focus {
	border-color: #ddd;
	outline: none;
}
.thumbnail h4,
.item-bottominfo p + p {
	font-weight: bold;
}
.item-bottominfo p {
	margin: 0;
	color: #a5a5a5;
}
.item-bottominfo {
	background-color: #f7f7f7;
}
.container-fluid .thumbnail:hover .item-bottominfo {
	background-color: #fff1c3;
}
main {
	min-width: 520px;
	padding: 0; 
	margin: 0;
}
main .container-fluid {
	margin-right: 210px;
	min-width: 220px; 
	padding: 0;
}