body {
	background-color: #6b7e8d;
	margin: 0;
	font-family: Arial, sans-serif;
}
.header {
	background-color: #445059;
	color: #FFFFFF;
	font-weight: bold;
	display: table;
	width: 100%;
}
.header div {
	box-sizing: border-box;
	vertical-align: middle;
}
.header a {
	color: #FFFFFF;
	text-decoration: none;
}
.header div:first-child {
	width: 30%;
	text-align: left;
	padding: 0 0 0 40px;
}
.header div:nth-child(2) {
	width: 70%;
	text-align: right;
	padding: 0 40px 0 0;
}
.header .user-nav,
.header .user-nav > li,
.nav-menu ul > li {
	display: inline-block;
}
.header > div {
	display: table-cell;
}
.header .user-nav > li {
	padding: 0 10px;
}
.nav-menu ul {
	display: table;
	width: 90%;
	margin: 10px auto;
	padding: 0;
	color: #FFFFFF;
}
.main-content {
	width: 980px;
	margin: 0 auto;
}
#board {
	background-color: #f8f8f8;
	border-radius: 10px;
	padding: 0 0 10px 0;
	position: relative;
}
.request-header {
	font-weight: bold;
}
.request-box {
	padding: 20px;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #dedede;
	font-size: 16px;
	position: relative;
}

.request-box img {
	padding: 2px;
	margin: 0 10px;
	border: 1px solid #d0dfec;
}
.request-content {
	display: inline-block;
	vertical-align: top;
	width: 800px;
}
.user-name {
	color: #6689a6;
	vertical-align: top;
	font-weight: bold;
}
.request-text,
.comment-date {
	color: #999999;
}
.request-data,
.comment-txt {
	color: #666666;
}
.request-status {
	padding: 5px;
	text-transform: capitalize;
	margin: 0 10px;
	border-radius: 3px;
	color: #FFFFFF;
}
.pending {
	background-color: #fcca00;
}
.bought {
	background-color: #5ec8d2;
}
.approved {
	background-color: #abd25e;
}
.comment-box {
	background-color: #e9f3fb;
	list-style: none;
	padding: 20px;
	border: 1px solid #d0dfec;
	border-radius: 3px;
	position: relative;
}
#board h2 {
	padding: 10px 30px;
	margin: 0;
	color: #666666;
	background: #f3f3f3;
	border-bottom: 1px solid #e4e4e4;
	border-radius: 5px 5px 0 0;
}
#board:before {
	content: '';
	position: absolute;
	left: 78px;
	top: -18px;
	border: 10px solid transparent;
	border-bottom: 10px solid #f3f3f3;
}
.comment-box:after {
	content: '';
	position: absolute;
	left: 50px;
	top: -19px;
	border: 10px solid transparent;
	border-bottom: 10px solid #e9f3fb;
}
.comment-box:before {
	content: '';
	position: absolute;
	left: 50px;top: -20px;
	border: 10px solid transparent;
	border-bottom: 10px solid #d0dfec;
}
.user-box {
	width: 230px;
	background-color: #fffcab;
	padding: 20px;
	position: absolute;
	top: -1px;
	left: -1px;
	border: 1px solid #cacaca;
	display: none;
}